<form action="/profiles/show<%= profile.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div>
        <label for="title">Title</label>
        <input type="text" name="profile" id="title" value="<%= profile.name %>">
    </div>
    <div>
        <label form="image">Url</label>
        <input type="image" name="image" id="image"  value="<%= profile.image %>">
    </div>
</form>
