.columns{
  font-weight: bold;
  color: black;
}
body{
  background-color: #A9A9A9;
  /* height: 100%;
  width: 100%; */
  /* background-repeat: no-repeat;
  background-size: auto;
  background-size: contain; */
}

.giv{
  font-weight: bold;
  color: black;
}

.footer{
  position:absolute;
   bottom:0;
   width:100%;
   height:11px;
   background:#999999;
}
